In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from scipy.stats import shapiro, kstest, probplot
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.graphics.gofplots import qqplot

# Carga dos dados

In [2]:
# Abrir o dataset
df_pontuacao = pd.read_csv('datasets/pontuacao_teste.csv')

In [3]:
# Chegar estrutura do dataset
df_pontuacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   horas_estudo     101 non-null    float64
 1   pontuacao_teste  101 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 1.7 KB

In [4]:
# visualizar Topo do DF
df_pontuacao.head()

   horas_estudo  pontuacao_teste
0           1.1               30
1           2.0               55
2           2.5               60
3           3.6               75
4           4.2               85

In [5]:
# visualizar Final do DF
df_pontuacao.tail()

     horas_estudo  pontuacao_teste
96           46.0              780
97           46.2              785
98           46.4              790
99           46.6              795
100          46.9              800